<app-welcome></app-welcome>

<div id="login">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="box col-md-6">
                <div class="title">Login</div>
                <div class="content">
                    <!-- <form ((ngSubmit)="login()"> -->
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="fill" class="w-100 mb-4">
                            <mat-label>E-mail</mat-label>
                            <input matInput placeholder="Enter your e-mail" name="email" formControlName="email">
                            <mat-hint>Correct E-mail</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100 mb-4">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter your password" name="password" formControlName="password">
                            <mat-hint>At least 8 characters</mat-hint>
                        </mat-form-field>
                        <div class="d-flex justify-content-center">
                            <button mat-raised-button color="primary" type="submit" [disabled]='!loginForm.valid'>LOGIN</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
